-@photos.each do |photo|
.block-1
  /.container
    .slider
      carousel
        -@photos.each do |photo|
          slide
            =image_tag photo.photo.slider, :alt => photo.name
            -if photo.name
              .carousel-caption
                h2=photo.name
                p=photo.body

  .container
    .slider
      #carousel-example-generic.carousel.slide data-ride="carousel"
        ol class="carousel-indicators"
          -@photos.each_with_index do |photo, i|
            -if (i == 0)
              li data-target="#carousel-example-generic" data-slide-to="0" class="active"
            -else
              li data-target="#carousel-example-generic" data-slide-to="#{i}"


        .carousel-inner role="listbox"
          -@photos.each_with_index do |photo, i|
            -if (i == 0)
              .item.active
                =image_tag photo.photo.slider, :alt => photo.name
                -if photo.name
                  .carousel-caption
                    h2=photo.name
                    p=photo.body
            -else
              .item
                =image_tag photo.photo.slider, :alt => photo.name
                -if photo.name
                  .carousel-caption
                    h2=photo.name
                    p=photo.body

      a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"
        span class="glyphicon glyphicon-chevron-left" aria-hidden="true"
        span class="sr-only" Previous

      a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"
        span class="glyphicon glyphicon-chevron-right" aria-hidden="true"
        span class="sr-only" Next