<div class="row" ng-if="!showForm">
	<div class="col-md-3" ng-repeat="photo in photos">
		<div class="thumbnail">
			<div class="glyphicon glyphicon-remove" ng-click="photoDestroy(photo.id)"></div>
			<img ng-src="{{photo.photo.url}}"/>
		</div>
	</div>
</div>


<div class="row" style="margin-bottom: 30px" ng-if="showForm" ng-repeat="photo in photos">
	<div class="col-md-5">
		<div class="thumbnail" style="margin: 0">
			<div class="glyphicon glyphicon-remove" ng-click="photoDestroy(photo.id)"></div>
			<img ng-src="{{photo.photo.url}}" style="max-height: 200px"/>
		</div>
	</div>
	<div class="col-md-7">
		<div class="form-group">
			<label class="control-label">Название</label>
			<input type="text" class="form-control input-sm" placeholder="Название" ng-model="photo.name" ng-blur="submit(photo)">
		</div>
		<div class="form-group">
			<label class="control-label">Описание</label>
			<textarea class="form-control input-sm" rows="2" placeholder="Описание" ng-model="photo.body"></textarea>
		</div>
		<span class="btn btn-success" ng-click="submit(photo)">
			<i class="fa fa-floppy-o" ng-show="saveDataPhoto"></i>
			<i class="fa fa-circle-o-notch fa-spin" ng-show="!saveDataPhoto"></i>
			Сохранить
		</span>
	</div>
</div>
