<nav role="navigation" class="navbar navbar-inverse navbar-static-top">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
  <div class="container">
    <div class="navbar-header">
      <button data-target="#bs-example-navbar-collapse-8" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" title="honey">
        <%= image_tag "site/logo.png", alt: "honey" %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="bs-example-navbar-collapse-8" class="collapse navbar-collapse">
      <%= render_cell :menu, :list %>
      
      <a class="shopping-cart pull-right" href="/order/cart">
        <i class="fa fa-shopping-cart"></i>
        <ng-pluralize count="cartItems.count"
                      when="{'0': 'Моя корзина',
                     'one': 'В корзине 1 товар на',
                     '2': 'В корзине 2 товара на',
                     '3': 'В корзине 3 товара на',
                     '4': 'В корзине 4 товара на',
                     'other': 'В корзине {} товаров на'}">
        </ng-pluralize>
        <strong>{{ cartItems.price | price}}</strong>
        <i class="fa fa-rub"></i>
      </a>
      <span class="phone pull-right">+7 (909) 959-31-06</span>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>