-content_for :title do
  | - Корзина

.container ng-controller="CartCtrl"
  h1 Ваша корзина
  .row
    .col-xs-9.col-sm-9.col-md-9

      div.panel.panel-default.order-get ng-class="{'show' : orderGet}"
        div.panel-heading Оформление заказа
        div.panel-body Оформление заказа
        div.panel-footer
          .row
            .col-xs-8.col-sm-8.col-md-8.text-center
              | Сумма заказа: 
              strong
                | {{cardData.price | price}}
                | &nbsp;
                i class="fa fa-rub"
            .col-xs-4.col-sm-4.col-md-4.text-right
              .btn.btn-success.btn-lg ng-click="orderGet = true" Отправить

      
      div class="panel panel-default"
        div class="panel-heading"
          .row
            .col-xs-3.col-sm-3.col-md-7.text-center Товар
            .col-xs-3.col-sm-3.col-md-2.text-center Стоимость
            .col-xs-3.col-sm-3.col-md-1.text-center Кол-во
            .col-xs-3.col-sm-3.col-md-2.text-center Итого
        div class="panel-body"
          .row ng-repeat="item in cardData.cart"
            .col-xs-3.col-sm-3.col-md-2
              img.img-responsive ng-src="{{item.product_photo}}"
            .col-xs-3.col-sm-3.col-md-5
              h4
                | {{item.product_name}}
            .col-xs-3.col-sm-3.col-md-2.text-center
              strong ng-if="item.sale"
                br
                s
                  | {{item.product_price_old | price}}
                  | &nbsp;
                  i class="fa fa-rub"
              br    
              strong
                | {{item.product_price | price}}
                | &nbsp;
                i class="fa fa-rub"
            .col-xs-3.col-sm-3.col-md-1.text-center
              br
              | {{item.count}}
            .col-xs-3.col-sm-3.col-md-2.text-center
              br
              strong  
                | {{item.price | price}}
                | &nbsp;
                i class="fa fa-rub"

        div class="panel-footer"
          .row
            .col-xs-8.col-sm-8.col-md-8.text-center
              | Сумма заказа: 
              strong
                | {{cardData.price | price}}
                | &nbsp;
                i class="fa fa-rub"
            .col-xs-4.col-sm-4.col-md-4.text-right
              .btn.btn-success.btn-lg ng-click="orderGet = true" Оформить заказ


      

    .col-xs-3.col-sm-3.col-md-3
      .order-sidebar
        dl
          dt
            i.fa.fa-truck
          dd
            | Бесплатная доставка при сумме заказа от 
            strong
              | 2 000 
              i.fa.fa-rub
        dl
          dt
            i.fa.fa-clock-o  
          dd
            strong Москва?
            div Оформите заказ до 21:00, и получите его уже завтра!