.page-header
  h2 Список товаров
  .page-header-actions
    = link_to new_admin_product_path, class: 'btn btn-success' do
      i class="fa fa-plus"
      ' Добавить товар

.content
  table class="table table-bordered"
    thead
      tr
        th.products-article Артикул
        th.products-name Название
        th.products-price Цена
        th.products-sale Скидка
        th Фото
        th Категория
        th Действия

    tbody
      -@products.each do |item|
        tr
          td.products-article=item.article
          td.products-name=item.name
          td.products-price
            -if item.sale
              .label.label-default=number_to_currency(item.price, unit: 'руб/м2', delimiter: " ", precision: 0)
              br
              .label.label-info=number_to_currency(item.price/100 * (100 - item.sale), unit: 'руб/м2', delimiter: " ", precision: 0)
            -else
              .label.label-info=number_to_currency(item.price, unit: 'руб/м2', delimiter: " ", precision: 0)

          td.products-sale
            -if item.sale
              .label.label-danger=number_to_percentage(item.sale, precision: 0)
          td.products-photo
            -if item.photos.length > 0
              =image_tag item.photos.first.photo.thumb, width: 60
          td
            -item.categories.each do |category|
              .label.label-primary=category.name
              br
          td
            = link_to edit_admin_product_path(item), class: 'btn btn-success' do
              span.fa.fa-lg.fa-edit
            = link_to admin_product_path(item), class: 'btn btn-danger', method: "delete" do
              span.fa.fa-lg.fa-trash
              
              
              
