<div class="page-header">
	<h2>Настройки</h2>
	<div class="page-header-actions">
		<a href="" class="btn btn-success" ng-click="save()">
			<i class="fa fa-plus"></i>
			Сохранить
		</a>
	</div>
</div>
<div class="content page">
	<div class="form-group">
		<label for="name">Название сайта</label>
		<input id="name" type="text" class="form-control" ng-model="settings.name">
	</div>
	<div class="form-group">
		<label for="keywords">SEO keywords</label>
		<input id="keywords" type="text" class="form-control" ng-model="settings.keywords">
	</div>
	<div class="form-group">
		<label for="description">SEO description</label>
		<input id="description" type="text" class="form-control" ng-model="settings.description">
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input id="email" type="email" class="form-control" ng-model="settings.email">
	</div>
</div>