footer{
	margin: 40px 0 0 0;
	padding: 15px 0;
	background-color: #222;
	text-align: center;
	color: #fff;
	
	.row{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	
	.create{
		img{
			height: 20px;
		}
	}
}