html.turbolinks-progress-bar::before{
	background-color: red !important;
	height: 5px !important;
}
h1{
	margin: 40px 0 35px;
}
.navbar-brand{
	padding: 5px 15px;

	img{
		width: 50%;
	}
}
.navbar-inverse .navbar-nav > li > a{
	&:focus,
	&:hover{
		background-color: rgba(0, 0, 0, .3);
	}
}
.navbar{
	color: $navbar-inverse-link-hover-color;
	
    .phone{
		padding-top: $navbar-padding-vertical;
	}
    
    .shopping-cart{
        padding: $navbar-padding-vertical 15px;
        margin-left: 80px;
        background-color: #555;
        color: $navbar-inverse-link-hover-color;
        
        .fa-shopping-cart{
            margin-right: 3px;
        }
    }

	.navbar-collapse{
		&.in{
			.phone{
				display: none;
			}
		}
	}
}
.slider{
	position: relative;
	border: 7px solid #fff;

	&:after{
		content: '';
		position: absolute;
		left: -57px;
		top: 0;
		height: 100%;
		width: 50px;
		background: image-url('site/icons_bg.png') no-repeat 0 0;
		background-size: cover;
	}

	&:before{
		content: '';
		position: absolute;
		right: -57px;
		top: 0;
		height: 100%;
		width: 50px;
		background: image-url('site/icons_bg.png') no-repeat right top;
		background-size: cover;
	}
}
.carousel{
	&:after{
		content: '';
		position: absolute;
		left: 0;
		top: -35px;
		height: 28px;
		width: 100%;
		background: image-url('site/icons_bg.png') no-repeat center top;
		background-size: cover;
	}

	&:before{
		content: '';
		position: absolute;
		left: 0;
		bottom: -57px;
		height: 50px;
		width: 100%;
		background: image-url('site/icons_bg.png') no-repeat center bottom;
		background-size: cover;
	}
}
.carousel-inner{
//	height: 390px;
}
.carousel-caption{
	background: rgba(69, 18, 0, .35);
}
.carousel-control{
	cursor: pointer;
}
.block{
	padding: 45px 0;

	&.yellow{
		background: image-url('site/bg_pattern_1.png');

		.form-group{
			margin-bottom: 0;

			label{
				font-size: 30px;
				color: #fff;
				vertical-align: top;
			}
		}
		.btn{
			vertical-align: top;
		}
	}
	&.gray{
		padding: 15px 0 35px;
		background: image-url('site/bg_pattern_2.png');
		color: #fff;
	}
	&.feedback{
		padding: 20px 0;
		h2{
			margin-bottom: 45px;
		}
	}
}
.block-1{
	padding: 40px 0 55px;
	background: image-url('site/bg_pattern_1.png');
}
.custom-title{
	height: 56px;
	line-height: 56px;
	margin: 10px 0 50px 0;
	padding-left: 75px;
	background: image-url('site/cell_sign.png') no-repeat 0 0;

	h1,
	h2{
		line-height: 56px;
		margin: 0;
	}
}