.order-sidebar{
	padding-top: 30px;
	padding-bottom: 10px;
	background: image-url('site/bg_pattern_1.png');

	dl{
		margin: 0 0 30px;
		padding: 0 30px;

		dt,
		dd{
			text-align: center;
		}

		dt{
			margin: 0 0 10px;
			font-size: 50px;
			line-height: 50px;
		}
	}
}
.order-get{
	display: none;

	&.show{
		-moz-transition: top 1s cubic-bezier(0, 0, 1, 0) 0.5s;
		transition: top 1s cubic-bezier(0, 0, 1, 0) 0.5s;
	}
}