.product-item{
	position: relative;
	margin: 0 0 35px 0;

	.product-item-photo{
		position: relative;
		display: block;
		width: 100%;
		margin: 0 0 10px;
		text-align: center;
		background: #fff;
		vertical-align: middle;
		border: 1px solid rgba(0, 0, 0, .3);
		transition: all .2s;

		.product-currency{
			position: absolute;
			z-index: 2;
			right: 10px;
			top: -1px;
			padding: 2px 5px;
			background-color: #329932;
			font-size: 16px;
			color: #fff;
			font-weight: bold;
			text-decoration: none;
			
			.sale{
				display: inline-block;
				margin-right: 10px;
				text-decoration: line-through;
				opacity: .6;
			}
		}

		img{
			display: inline-block;
			vertical-align: top;
		}
		
		&:hover{
			border: 1px solid #f7bc00;
		}
	}
	
	.product-item-name{
		margin: 0;
		font-weight: bold;
		font-size: 18px;
		line-height: 32px;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #333;
		transition: all .2s;
		a{
			color: #333;
			transition: all .2s;
		}
		
		&:hover{
			color: #f7bc00;
			a{
				color: #f7bc00;
			}
		}
	}

	.product-item-sale{
		position: absolute;
		z-index: 2;
		left: 10px;
		top: -1px;
		padding: 2px 5px;
		background: rgba(201, 19, 19, .75);
		color: #fff;
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 200;
	}

}
.brands-item{
	display: table-cell;
	height: 190px;
	width: 100%;
	vertical-align: middle;
}
.product{
	@extend .clearfix;
	margin: 30px 0;

	h1{
		position: relative;
		margin: -6px 0 25px;
	}

	.product-body{
		float: right;
		width: 435px;
	}
	.product-photo-root{
		float: left;
		width: 460px;
		height: 420px;
		text-align: center;
		background: #efefef;

		.insert-img{
			display: table-cell;
			width: 460px;
			height: 420px;
			margin: 0;
			vertical-align: middle;
		}

		img{
			max-height: 100%;
			max-width: 100%;
		}
	}
	.product-photos{
		@extend .clearfix;
		clear: both;
		width: 964px;
		margin-left: -20px;
	}
}
.product-photos-item{
	margin: 20px 0 0 0;

	.product-photo{
		display: table-cell;
		background: #efefef;
		vertical-align: middle;
		text-align: center;
	}
}

.product-property{
	@extend .clearfix;
	margin: 14px 0;

	dt,
	dd{
		float: left;
	}

	dt{
		width: 130px;
		margin-right: 5px;
		font-weight: normal;
	}

	dd{
		width: 295px;
		font-weight: 600;
	}

	&.price{
		margin-top: 20px;
		font-size: 22px;
	}
}
.product-page{
	padding: 40px 0;
}