-content_for :title do
  ' -
  =@category.name

.block
  .container
    .custom-title
      h1=@category.name

    .row.product-list
      -@products.each_with_index do |product, i|
        .col-xs-12.col-sm-6.col-md-3.product-item
          =link_to product.full_path, class: "product-item-photo" do
            -if product.sale
              .product-item-sale
                '-
                = number_to_percentage(product.sale, precision: 0)
              -@price_sale = product.price/100 * (100 - product.sale)
              span.product-currency
                span.sale
                  = number_to_currency(product.price, unit: '', delimiter: " ", precision: 0)
                  i.fa.fa-rub
                = number_to_currency(@price_sale, unit: '', delimiter: " ", precision: 0)
                i.fa.fa-rub
            -else
              span.product-currency
                = number_to_currency(product.price, unit: '', delimiter: " ", precision: 0)
                i.fa.fa-rub

            -if product.photos.length > 0
              =image_tag product.photos.first.photo.thumb, class: "img-responsive"
          .row
            .col-sm-7
              h3.product-item-name.text-nowrap=link_to product.name, product.full_path
            .col-sm-5.text-right
              .btn.btn-success ng-click="addOrder(#{product.id})" Купить