-content_for :title do
  ' - 
  =@product.name

.container
  .row.product-page.photo-gallery itemscope="" itemtype="http://schema.org/Product"

    .col-xs-12.col-sm-12.col-md-7
      =link_to("#{@product.photos.first.photo}", class: "insert-img", title: @product.name) do
        =image_tag @product.photos.first.photo, itemprop: "image", class: "img-responsive"
      .row
        -@product.photos.each do |photo|
          -unless photo == @product.photos.first
            .col-xs-6.col-sm-4.col-md-3.product-photos-item
              =link_to("#{photo.photo}", class: "insert-img", title: @product.name) do
                =image_tag photo.photo.thumb, class: "img-responsive"


    .col-xs-12.col-sm-12.col-md-5
      h1 itemprop="name"= @product.name
      div itemprop="description"
        -if @product.article
          dl.product-property
            dt Артикул:
            dd= @product.article
        -@properties.each do |property|
          dl.product-property
            dt
              = property.name
              | :
            dd
              -@values.each do |value|
                -if property.values.exists?(value)
                  =value.value
                  |&nbsp;
                  =property.unit
        p=@product.body
      -if @product.price
        dl.product-property.price itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"
          dt Цена:
          dd= number_to_currency(@product.price, unit: 'руб.', delimiter: " ", precision: 0)
          meta itemprop="price" content="#{@product.price}"
          meta itemprop="priceCurrency" content="RUB"

      .btn.btn-success.btn-lg ng-click="addOrder(#{@product.id})" Купить этот вкуснейший мед