<!DOCTYPE html>
<html ng-app="app">
<head>
  <title><%= Setting.get('name')%> <%= yield :title %></title>
  <meta content='<%= Setting.get('keywords') %>' name='keywords'>
  <meta content='<%= Setting.get('description')%>' name='description'>
  <!--
  <meta property="og:title" content="Заголовок"/>
  <meta property="og:description" content="Описание"/>
  <meta property="og:url" content="Ссылка на страницу"/>
  <meta property="og:image" content="Ссылка на картинку"/>
  <meta name="title" content="Заголовок"/>
  <meta name="description" content="Описание"/>
  <link rel="image_src" href="Ссылка на картинку"/>
  -->

  <%= stylesheet_link_tag 'site/base', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="OrderCtrl">

<%= render 'shared/header' %>

<%= yield %>

<%= render 'shared/footer' %>

</body>
</html>
